.vScaleLegend {
  height: 5px;
  width: 95%;
}

.textLegend {
  display: block;
  width: "100%";
  background: transparent;
  color: gray;
  border: none;
}

.tick {
    position:absolute;
  width: 20%;
  /* outline:0.5px pink solid */
}

.scaleValues {
  width: 95%;
  height:10px;
  margin-bottom:0.3em;
}

.legendContainer {
  width: 200px;
  margin-bottom: 15px;
  margin-left: 13px;
}

.legendFlex {
  display: flex;
  width: 100%;
  gap: 2em;
}

#cLegendsMain {
  background-color: rgba(50, 50, 50, 0.378);
  display: block;
  width: fit-content;
  gap: 2em;

  position: absolute;
  right: 10px;
  top: 10px;
  height: fit-content;
  width: fit-content;
  overflow-y: scroll;
  scrollbar-width: none;
}
