.CSContainer {
    padding-left: "10px";
    font-family: "roboto-light", sans-serif;
}

.CSSelect {
    display: block;
    width: "100%";
    background: transparent;
    color: gray;
    border: none;
}

.CSControl {
    margin-left: 1em;
    margin-bottom: 0.5em;
    font-size: 0.8em;
    color: rgb(178, 192, 203);
}

.CSTitle {
    margin-left: 10px;
    font-size: 0.9em;
    color: rgb(178, 192, 203);
}

.selectElementFlex {
    display: flex;
    width: 100%;
    gap: 2em;
}

.selectElementFlex>* {
    flex: 1;
    max-width: fit-content;
    box-sizing: border-box;
}

.CSDropSelect{
    display: block;
    background-color: transparent;
    color: gray;
    border: none;
}